{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Home' %}{% endblock %}

{% block content %}
{% for post in posts %}
    <section class="post">
        <h1 class="post"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
        <em class="date">{{ post.pub_date }}</em>
        <p>{{ post.short_text }}</p>
        <div><span>{% trans 'Tags' %}:</span> {% for t in post.get_tags %}{{ t }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
    </section>
{% if not forloop.last %}<hr>{% endif %}
{% endfor %}
{% endblock %}
