{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | {{ PAPYRUS_TITLE }}</title>
    <meta name="author" content="{{ PAPYRUS_AUTHOR }}">
    <meta name="description" content="{{ PAPYRUS_DESCRIPTION }}">
    <meta name="keywords" content="{{ PAPYRUS_KEYWORDS }}">

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/papyrus-style.css">
  </head>
  <body>
    <div id="container">
      <!-- Header -->
      <header id="header" class="page-header">
        <h1>{% if request.path != '/' %}<a href="/">{{ PAPYRUS_LOGO_TEXT }}</a>{% else %}{{ PAPYRUS_LOGO_TEXT }}{% endif %}</h1>
          <small>{{ PAPYRUS_LOGO_DESC }}</small>
      </header>
      <!-- end header -->
      <!-- content -->
      <div id="body" class="container">
        <div class="row">
          <div id="left-side" class="col-md-2">
            <div id="avatar">
              <img src="{{ STATIC_URL }}img/ava.jpg" alt="{{ PAPYRUS_AUTHOR }}" class="img-circle">
            </div>
            {# TODO: add social networks icon #}
            <div id="nav">
              <span><a href="/">{% trans 'Blog' %}</a></span><br>
              {# TODO: <span><a href="/about/">{% trans 'About' %}</a></span><br> #}
            </div>
          </div>

          <div id="content" class="col-md-8">
            {% block content %}
            {% endblock %}
          </div>

          <div class="col-md-2">{# TODO: So many tags #}</div>
        </div>
      </div>
      <!-- end content -->
      <!-- Footer -->
      <footer id="footer" class="panel-footer">
          {{ PAPYRUS_FOOTER_TEXT }} - {{ PAPYRUS_FOOTER_YEARS }}
      </footer>
      <!-- Footer end -->
    </div>
  </body>
</html>
