/*
 * Main Papyrus style
 */

html,
body {
    margin:0;
    padding:0;
    height:100%;
}

#container {
    min-height:100%;
    position:relative;
}

#header {
    background: #f5f5f5;
    padding:10px;
    margin: 0 0 0 0;
    padding-left: 150px;
}

#header a {
    color: inherit;
    text-decoration: none;
}

#body {
    padding:10px;
    padding-bottom:60px;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
    text-align: center;
    margin-top: 20px;
}

#avatar {
    margin-bottom: 20px;
}

#nav {
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 2px;
    display: block;
}

#nav a:hover {
    text-decoration: none;
}

hr {
    border-top: 2px solid #eee;
}
